<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/homeSeller.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Sarabun:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="selleradd">
      <img class="home-1-1" alt="" src="/image/home.png" />

      <b class="b">ร้านค้า</b>
      <div class="select">

        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="div">อาหาร</div>
        </div>
        <div class="rectangle-group">
          <div class="group-item"></div>
          <div class="div1">วัตถุดิบ</div>
        </div>
        <b class="b1">เพิ่มสินค้า</b>
      </div>
      <b class="b2">รายละเอียดร้านค้า</b>
      <div class="product">
        <b class="b3">สินค้าปัจจุบัน</b>
        <div class="product1">
          <div class="rectangle-container">
            <div class="group-inner"></div>
            <div class="b-20-container">
              <p class="p">ชื่อสินค้า</p>
              <p class="p">ราคา 100 B</p>
              <p class="p">ค่าส่ง 20 B</p>
            </div>
          </div>
          <div class="product-child"></div>
        </div>
        <div class="group-parent">
          <div class="rectangle-container">
            <div class="group-inner"></div>
            <div class="b-20-container">
              <p class="p">ชื่อสินค้า</p>
              <p class="p">ราคา 100 B</p>
              <p class="p">ค่าส่ง 20 B</p>
            </div>
          </div>
          <div class="product-child"></div>
        </div>
        <div class="group-container">
          <div class="rectangle-container">
            <div class="group-inner"></div>
            <div class="b-20-container">
              <p class="p">ชื่อสินค้า</p>
              <p class="p">ราคา 100 B</p>
              <p class="p">ค่าส่ง 20 B</p>
            </div>
          </div>
          <div class="product-child"></div>
        </div>
      </div>
      <div class="review">

        <b class="b10">รีวิวร้านค้า</b>
        <div class="review-item"></div>
        <div class="review-inner"></div>
        <div class="review-child1"></div>
      </div>
    </div>
  </body>
</html>